<style type ="text/css">

body {
  margin: 0px;
  padding: 0px;
}

#newUserDialog label, #changeUserDetailsDialog label {

	float: left;

	display: block;

	width: 150px;

}



#newUserDialog input, #changeUserDetailsDialog input {

	width: 300px;

}



#newUserDialog input[type=button] {

	margin-top: 20px;

	margin-left: 100px;

}

#top {
  background: #aba
  width: 100%;
}

#left {
  background: #aaa;
  float: left;
  width: 20%;
  height: 500px; 
}


#right {
  background: #aaa;
  float: right;
  width: 20%;
  height: 500px;
}

#center {
  background: #eee;
  float: left;
  width: 60%;
  height: 500px;
}
</style>
