<style type ="text/css">

body {
  margin: 0px;
  padding: 0px;
}
#top {
  background: #aba
  width: 100%;
}

#left {
  background: #aaa;
  float: left;
  width: 20%;
  height: 500px; 
}


#right {
  background: #aaa;
  float: right;
  width: 20%;
  height: 500px;
}

#center {
  background: #eee;
  float: left;
  width: 60%;
  height: 500px;
}
</style>
