<style type ="text/css">

body {
  margin: 0px;
  padding: 0px;
}

#newUserDialog label, #changeUserDetailsDialog label {

	float: left;

	display: block;

	width: 150px;

}



#newUserDialog input, #changeUserDetailsDialog input {

	width: 300px;

}



#newUserDialog input[type=button] {

	margin-top: 20px;

	margin-left: 100px;

}

#changeUserDetailsDialog input[type=button] {

	margin-bottom: 20px;

	margin-top: 20px;

	margin-left: 100px;

}



#changeUserDetailsDialog input[type=file] {

	width: 500px;

}



#changeUserDetailsDialog input[type=submit] {

	margin-top: 20px;

	margin-left: 100px;
}

#top {
  background: #aba
  width: 100%;
}

#left {
  background: #aaa;
  float: left;
  width: 20%;
  height: 500px; 
}


#right {
  background: #aaa;
  float: right;
  width: 20%;
  height: 500px;
}

#center {
  background: #eee;
  float: left;
  width: 60%;
  height: 500px;
}


ul#nav
{
list-style-type:none;
margin:0;
padding:0 10 10 0;
}
ul#nav a:link,ul#nav a:visited
{
display:block;
font-weight:bold;
color:#000000;
background-color:#aaa;
width:120px;
text-align:center;
padding:4px;
text-decoration:none;
text-transform:uppercase;
}
ul#nav a:hover,ul#nav a:active
{
background-color:#eee;
}
~                          


</style>
